<html>
  <head>
    <title>New Message</title>
  </head>
  <body>
    <h1>New Message</h1>
    <form method="post" action="/new">
      <label>
        <span>Author Name: </span>
        <input type="text" name="messageUser">
      </label>

      <label>
        <span>Message: </span>
        <textarea name="messageText"></textarea>
      </label>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>